<div class="p-4 container">
    <h2 class="mt-3 text-center">Historial de Consumos por Cliente</h2>

    <div class="form-group mt-4 mb-4">
        <label for="fechaInicial">Fecha inicial:</label>
        <input type="date" class="form-control" id="fechaInicial" [(ngModel)]="fechaInicial" required>
    </div>

    <div class="form-group mb-4">
        <label for="fechaFinal">Fecha final:</label>
        <input type="date" class="form-control" id="fechaFinal" [(ngModel)]="fechaFinal" required>
    </div>

    <div class="text-center">
        <button class="btn btn-primary" (click)="obtenerTramos()">Obtener Historial</button>
    </div>

    <div *ngIf="peoresTramosCliente" class="mt-4">
        <h3 class="mb-2 text-center">Tramos/Cliente con mayores pérdidas</h3>
        <table class="table">
            <thead>
                <tr>
                    <th>Tramo</th>
                    <th>Fecha</th>
                    <th>Pérdidas</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let tramoCliente of peoresTramosCliente">
                    <td>{{ tramoCliente.linea }}</td>
                    <td>{{ tramoCliente.fecha }}</td>
                    <td>{{ tramoCliente.perdidasResidencial + tramoCliente.perdidasComercial +
                        tramoCliente.perdidasIndustrial }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>